* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

.header {
  background-color: #2eb47c;
  color: #ffffff;
  padding: 15px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 10px;
  margin-bottom: 9px;
  background-color: #f2f8f5;
  color: #ffffff;
  display: inline;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu li:hover {
  background-color: #89beb3;
}

.submenu ul.submenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.submenu li.submenu {
  padding: 10px;
  margin-bottom: 9px;
  background-color: #7ceea8;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.submenu li.submenu:hover {
  background-color: #7ceea8;
}

.aside {
  background-color: #7ceea8;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.footer {
  background-color: #22ca92;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
  
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

.logo {
  max-width: 110px;
  max-height: 110px;
  margin: 5px 10px 1px 1px;
}
a{
  text-decoration: none;

}
/* link que ainda não foi visitado */
a:link {
  color: rgb(15, 9, 9);
}

/* link que foi visitado */
a:visited {
   color: rgb(15, 9, 9);
}

/* mouse over */
a:hover {
   color: #b6bbb7;
}

/* link selecionado */
a:active {
   color: rgb(118, 118, 129);
}

#rodape ul li { display: inline; }